<html>
<!--https://gist.github.com/Gugic/cfc008599fa9a82eeba4127648009132#gistcomment-2237466-->
<head>
	<title>Service Bot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		var accessToken ="1abcf42df7b844bebb0449eca86422f5";
    var baseUrl = "https://api.api.ai/api/";
    // window.onload = sayHello()
	$(document).ready(function() {  
		$("#botInput").keypress(function(event) {
			if (event.which == 13) {
					event.preventDefault();
					send();
					this.value = '';
					console.log(this)
				}
			});
			// $("#botRec").click(function(event) {
			// 	switchRecognition();
			// });
		});
    // var recognition;

		// function startRecognition() {
		// 	recognition = new webkitSpeechRecognition();
		// 	recognition.onstart = function(event) {
		// 		updateRec();
		// 	};
		// 	recognition.onresult = function(event) {
		// 		var text = "";
		// 		for (var i = event.resultIndex; i < event.results.length; ++i) {
		// 			text += event.results[i][0].transcript;
		// 		}
		// 		setInput(text);
		// 		stopRecognition();
		// 	};
		// 	recognition.onend = function() {
		// 		stopRecognition();
		// 	};
		// 	recognition.lang = "en-US";
		// 	recognition.start();
		// }
		// function stopRecognition() {
		// 	if (recognition) {
		// 		recognition.stop();
		// 		recognition = null;
		// 	}
		// 	updateRec();
		// }
		// function switchRecognition() {
		// 	if (recognition) {
		// 		stopRecognition();
		// 	} else {
		// 		startRecognition();
		// 	}
		// }
		// function setInput(text) {
		// 	$("#botInput").val(text);
		// 	send();
		// }
		// function updateRec() {
		// 	$("#botRec").text(recognition ? "Stop" : "Talk");
		// }

	function send(){
			var text = $("#botInput").val();
			document.getElementById('botInput').value='';
			// $("#botInput").val() = ''
			conversation.push('<span class="botReplyUser"><span class="botIdUser">Me:</span><span class="botMsgUser">' + text + '</span></span>'); //div
			$.ajax({
				type: "POST",
				url: baseUrl + "query?v=20150910",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				headers: {
					"Authorization": "Bearer " + accessToken
				},
				data: JSON.stringify({ query: text, lang: "en", sessionId: "999999999" }),
				success: function(data) {
					var respText = data.result.fulfillment.speech;
					console.log("Response: " + respText);
					setResponse(respText);
				},
				error: function() {
					setResponse("I cannot do anything unless you type something.");
				}
			});
    }
    

	// function hide() {
    //     ​$('#botInput').value=''
	// 	send();
	// 	​$('#botInput').value=''

    // }

    function sendButton(p){
      var txt = p;
      console.log(txt);
      conversation.push('<span class="botReplyUser"><span class="botIdUser">Me:</span><span class="botMsgUser">' + txt + '</span></span>');
      $.ajax({
				type: "POST",
				url: baseUrl + "query?v=20150910",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				headers: {
					"Authorization": "Bearer " + accessToken
				},
				data: JSON.stringify({ query: txt, lang: "en", sessionId: "999999999" }),
				success: function(data) {
					var respText = data.result.fulfillment.speech;
					console.log("Response: " + respText);
					setResponse(respText);
				},
				error: function() {
					setResponse("Internal Server Error");
				}
			});
    }

    function memberships(del_val){
		console.log('Clicked')
    	setResponse(del_val); // or alert($(this).attr('id'));
	  	$('.del').hide();
	  	var text = 'Please enter your mobile no';
	  	setResponse(text);
	}
	
	function doc(){
		// setResponse(txt);
		$('.dell').hide();
		var text = 'Please type the name of Doctor your are looking for';
		setResponse(text);
	}

	function tnc(){
		//setResponse(txt);
		$('.dell').hide();
		var text = 'Document for T&Cs will open';
		setResponse(text);
	}

	function name_corr(){
		//setResponse(txt);
		$('.dell').hide();
		var text = 'Request you to share your ID proof with correct name on our customer service E mail ID - customercare@healthrx.co.in';
		setResponse(text);		
	}

	function redeemLab(){
		var txt='<ul><li>It’s available only at Ruby Hall Clinic</li><li>Coupons are redeemable only via 24 hours prior appointment</li><li>Dial 020-48546000 to book your appointment</li></ul>'
		setResponse(txt)
	}

	function redeemOPD(){
		var txt = 'Claim Doctor Consultation beneﬁt for all members in multiple visits'
		setResponse(txt)
	}

	function corr_policy(){
		var txt='Request you to share your ID proof with relevant details to our customer service EMail ID - customercare@healthrx.co.in'
		setResponse(txt)
	}

	function showRHC(){
		var txt = '<button class="but-des" onclick=benefits()>Benefits of RHC card</button><br><button class="but-des" onclick=doc()>Doctor Locator at Ruby Hall Clinic</button><br><button class="but-des" onclick=tnc()>Terms and Conditions of RHC Card</button><br><button class="but-des" onclick=name_corr()>Name Correction on RHC Card</button><br><button class="but-des">Download HealthRx App</button>'
		setResponse(txt)
	}

	function showCHS(){
		var txt = '• Customer ID: XXX <br>• Health Account No: XXX <br>• Health Checkup Package: XXX <br>•  Membership Card: <br> •  Insured By <br> •  Sum Insured <br><button class="but-des">View your Welcome Letter</button><br><button class="but-des" onclick=chs_benefits()>Benefits of Complete Health Solution</button><br><button class="but-des" onclick=corr_policy()>Correction in Policy Details</button><br><button class="but-des" onclick=redeemLab()>How to redeem lab benefit</button><br><button class="but-des">How to redeem OPD benefit</button><br> '
		setResponse(txt)
	}

	function benefits(){
		setResponse('The benefits include....');
	}

	function chs_benefits(){
		var txt = '<button class="but-des">Insurance</button><br><button class="but-des">OPD Benefit details</button><br><button class="but-des">Lab Benefit details</button><br><button class="but-des">RHC Card Details</button><br><button class="but-des">HealthRx App</button>'
		setResponse(txt)
	}

	function know(){
		// setResponse(del_val); // or alert($(this).attr('id'));
	    // $('.del').hide();
		var txt = '<button class="but-des" onclick="benefits()">Show RHC Card Benefits</button><br><button class="but-des">How to Appy for RHC Card</button>'
		setResponse(txt)
	}

	function chs(){
		var txt = 'The benefits included are:<ol><br><li>OPD Benefits at Ruby Hall Clinic</li><br><li>Health Insurance</li><br><li>Comprehensive health check-up plan at Ruby Hall Clinic</li><br></ol><button class="but-des">Apply Now</button>'
		setResponse(txt)
	}

	function getHRX(){
		var txt = '<button class="but-des">Know about Medicine Reminder</button><button class="but-des">Know about Health vault</button><button class="but-des">Know about appointment booking</button>'
		setResponse(txt)
	}

	function whatsapp(){
		var txt= 'Click below and subscribe to our WhatsApp service and get important updates delivered straight to your smart phone:<a href="#">CLICK HERE</a> '
		setResponse(txt)
	}

	function f(p){
		 // or alert($(this).attr('id'));
	  	$('.del').hide();
		// $(".del").scrollTop($("#response").height());
		sendButton(p);
	}
	
	function setResponse(val) {
      if(val=='both'){conversation.push('<input type="radio" id="rhc" value="rhc" onclick= "showRHC()">RHC card</input><input type="radio" id="chs" onclick = "showCHS()">Complete Health Solution</input>')}
	  else if(val=='wrong1'){
		  conversation.push('Since you have typed an invalid mobile number, you are not authenticated.<br>Choose from the menu below or type your question to get started: <br><button class="but-des" onclick=know()>Know about Health Card</button><br><button class="but-des" onclick=chs()>Know about Complete Health Solution Package</button><br><button class="but-des" onclick=getHRX()>Know about HealthRx App</button>')
	  }
	  else if(val=='wrong2'){
		  conversation.push('Since you have typed an invalid mobile number, you are not authenticated.<br><button class="but-des" onclick=benefits()>Show RHC Card Benefits</button><br><button class="but-des">How to Appy for RHC Card</button>')
	  }
	  else if(val=='wrong3'){
		  conversation.push('Since you have typed an invalid mobile number, you are not authenticated.<br>The benefits included are:<ol><br><li>OPD Benefits at Ruby Hall Clinic</li><br><li>Health Insurance</li><br><li>Comprehensive health check-up plan at Ruby Hall Clinic</li><br></ol><button class="but-des">Apply Now</button>')
	  }
	  else if(val=='wrong4'){
		  conversation.push('Since you have typed an invalid mobile number, you are not authenticated.<br><button class="but-des">Know about Medicine Reminder</button><button class="but-des">Know about Health vault</button><button class="but-des">Know about appointment booking</button>')
	  }
	  else if(val=='wrong5'){
		  conversation.push('Since you have typed an invalid mobile number, you are not authenticated.<br>Click below and subscribe to our WhatsApp service and get important updates delivered straight to your smart phone:<a href="#">CLICK HERE</a>')
	  }
	  else{
			conversation.push('<span class="botReplyBot"><span class="botIdBot">sAmI:</span><span class="botMsgBot">' + val + '</span></span>'); 
		}//div
			$("#response").html(conversation.join("")); //div
			$("#response-container").scrollTop($("#response").height());
			$("#response .botReplyUser").removeClass("botReplyUserCurrent");
			$("#response .botReplyUser").last().addClass("botReplyUserCurrent");
			$("#response .botReplyBot").removeClass("botReplyBotCurrent");
			$("#response .botReplyBot").last().addClass("botReplyBotCurrent");
		}
		var conversation = [];
	</script>
	<style type="text/css">
		.bot{width:540px; height:620px; padding:5px; border-radius:5px; border:1px solid #eee; background:#e1dae8; overflow:hidden;}
		.but-des{border: 0;border-radius: 0.25rem;background: #00C29D;color: white;font-family: -system-ui, sans-serif;font-size: 1rem;line-height: 1.2;white-space: nowrap;text-decoration: none;padding: 0.25rem 0.5rem;margin: 0.25rem;cursor: pointer;}
		.del{border: 0;border-radius: 0.25rem;background: #00C29D;color: white;font-family: -system-ui, sans-serif;font-size: 1rem;line-height: 1.2;white-space: nowrap;text-decoration: none;padding: 0.25rem 0.5rem;margin: 0.25rem;cursor: pointer;	}
		.del:hover{background: rgb(33, 74, 110);}
		#response{font-family: -system-ui, sans-serif;font-size: 1rem;}
		.but-des:hover{background: rgb(33, 74, 110);}
		.bot #response-container{width:calc(100%+350px); height:280px; overflow-x:hidden; overflow-y:auto;}
		.bot #response{width:390px;}
		.bot .botReplyUser{display:block; width:calc(100% - 10px); padding:5px; border-radius:5px; background:#eee; color:#888; margin-bottom:5px;}
		.bot .botReplyBot{display:block; width:calc(100% - 12px); padding:5px; border-radius:5px; border:1px solid #eee; background:#808080; color:#fff; font-family: -system-ui, sans-serif;font-size: 1rem;margin-bottom:5px; justify-content: center;}
		.bot .botReplyUserCurrent{color:#555; background:#ddd;}
		.bot .botReplyBotCurrent{color:#555; justify-content: center;}
		.bot .botIdUser{display:none; }
		.bot .botIdBot{display:none; }
		.bot .botMsgUser{display:block; }
		.bot .botMsgBot{display:inline-block; color:#fff; align-items: right; }
		.bot #botInput{display:inline-block; width:460px; height:40px; border-radius:5px; border:1px solid #eee; line-height:30px; margin-right:10px;}
		.bot #botRec{display:inline-block; width:50px; height:40px; border-radius:5px; border:1px solid #eee; background:#ccffff;}
	</style>
</head>


<body>
	<div class="bot">
    <span class='botReplyBot'>Welcome to HealthRx by Bajaj Finserv<br>
      Hi! I am XXXX, How can I help you today?<br>
	  Choose from the menu or type your question to get started.
	</span>
      <button class='del' onclick="f('My Memberships')" value='My Memberships'>My Memberships</button><br><button class='del' onclick="f('Know about Health Card')" value="Know about Health Card">Know about Health Card</button><br><button class='del' onclick="f('Complete Health Solution')">Complete Health Solution</button><br><button class='del' onclick="f('Get HealthRx App')">Get HealthRx App</button><br><button class='del' onclick="f('WhatsApp registration')">WhatsApp registration</button>
  		<div id="response-container">
        <div id="response"></div>    
		</div>
 		<br/>
    	<input id="botInput" type="text" placeholder="Type here..."/><button id="botRec" onclick="send()">Enter</button>
	</div>
</body>

</html>
 

<!-- My Memberships 
• Know about Health Card
• Complete Health Solution 
• Get HealthRx App
• WhatsApp registration -->


<!-- 
• View your Welcome Letter 
• Benefits of Complete Health Solution 
• Correction in Policy Details 
• How to redeem lab benefit 
• How to redeem OPD benefit -->
<!-- 
The benefits included are: 

👉 OPD Benefits at Ruby Hall Clinic

👉 Health Insurance

👉 Comprehensive health check-up plan at Ruby Hall Clinic -->